@import "https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700";

@media only screen and (max-width: 1400px) {
    #content-header {
        border-style: none !important;
        border-width: thin !important;
        border-radius: 0 !important;
        background-color: white !important;
        width: 100% !important;
        box-shadow: inset -3px 3px 15px -9px rgba(0, 0, 0, 0.31) !important;
        padding: 44px !important;
        height: 30% !important;
        transition: all 0.3s !important;
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }
}

@media only screen and (min-width: 1401px) {
    #content-header {
        border-style: none !important;
        border-width: thin !important;
        border-radius: 0 !important;
        background-color: white !important;
        width: 100% !important;
        box-shadow: inset -3px 3px 15px -9px rgba(0, 0, 0, 0.31) !important;
        padding: 44px !important;
        height: 23% !important;
        transition: all 0.3s !important;
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }
}

#sidebar {
    min-width: 81px !important;
    max-width: 81px !important;
    background: #2f2638 !important;
    position: relative !important;
    color: #fff !important;
    transition: all 0.3s !important;
}

.wrapper {
    display: flex !important;
    align-items: stretch !important;
    height: 100% !important;
    width: 100% !important;
    background-color: #ffffff  !important;
}

#sidebar ul.components {
    padding: 0 0 !important;
}

#sidebar ul li.active>a, a[aria-expanded="true"] {
    color: #fff !important;
    background: #3a2f46 !important;
}

#sidebar ul li a:hover {
    color: #ffffff !important;
    background: #3a2f46 !important;
}

#sidebar ul li a {
    padding: 19px !important;
    text-align: center !important;
    display: block !important;
}

#content {
    width: 100% !important;
    padding: 0px !important;
    position: relative !important;
    min-height: 100vh !important;
    transition: all 0.3s !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

.i-list h2{
    margin-bottom: 0.7rem !important;
    margin-top: 0.5rem !important;
    font-weight: 500 !important;
    line-height: 1.2 !important;
}

.i-list {
    margin: 0px  !important;
    padding: 25px 15px !important;
    position: relative !important;
    z-index: 90 !important;
    overflow: hidden !important;
    overflow-y: auto !important;
    box-shadow: inset 10px 2px 15px -8px rgba(0, 0, 0, 0.31), 3px 6px 11px -5px rgba(0, 0, 0, 0.31) !important;
    background-color: #ffffff  !important;
}

#create-person { position: relative !important;
    right: 1.5rem !important;
    top: 11px !important;
}

#create-beacon {
    position: relative !important;
    right: 1.5rem !important;
    top: 11px !important;
}

#create-zone {
    position: relative !important;
    right: 1.5rem !important;
    top: 11px !important;
}

#create-sector {
    position: relative !important;
    right: 1.5rem !important;
    top: 11px !important;
}

#create-gateway {
    position: relative !important;
    right: 1.5rem !important;
    top: 11px !important;
}

.btn-danger {
    color: #8e8d8d !important;
    background-color: rgba(255, 255, 255, 0) !important;
    border-color: #ffffff00 !important;
}

.btn-danger:hover {
    color: #fff !important;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.list {
    padding: 12px 0px !important;
    font-family: Barlow, sans serif !important;
    font-weight: 400 !important;
    font-size: 1.4em !important;
}

.list.active {
    background-color: #2f2638 !important;
    color: #fff !important;
}

#show-person {
    padding: 40px !important;
    font-size: 1.1em !important;
    font-family: Barlow, sans serif !important;
    font-weight: 400 !important;
}

#content-header .fa-user-circle {
    font-size: 3em !important;
    position: relative !important;
    top: 23px !important;
    right: 5px !important;
}

#content-header .col-lg-12 {
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 91% !important;
    z-index: 99 !important;
    top: 76px !important;
}

form {
    padding: 30px !important;
}

.back {
    position: relative !important;
}

#slider-range {
    margin-top: 10px;
}

.bg-light {
    max-width: 100%  !important;
    flex: 100% !important;
}

#interactions{
    margin: 40px !important;
}

.interactions-list .fa {
    font-size: 1em !important;
    margin-right: 10px !important;
}

.interactions .fa {
    font-size: 1em !important;
    margin-right: 10px !important;
}

.badge-secondary {
    color: #fff !important;
    background-color: #3a2f46 !important;
}

#chartdiv {
    height: 71vh  !important;
    max-height: 71vh  !important;
}

#content .row {
    margin-left: 25px  !important;
    margin-right: 25px  !important;
}

#content .margin-tb {
    margin-top: 1rem !important;
}

#content .col-lg-6 {
    font-size: 2em !important;
    font-weight: 600 !important;
    margin-top: 16px !important;
}

.tab-content {
    margin-left: 2rem !important;
}

.nav-item {
    margin-left: 2rem !important;
}

@media only screen and (max-width: 1400px) {
    .text-truncate {
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
        font-size: 0.7em  !important;
        left: 0.5rem;
    }

    .text-truncate span {
        color: #999999 !important;
        font-size: 0.70em  !important;
        position: relative !important;
        top: -5px !important;
    }
}

@media only screen and (min-width: 1401px) {
    .text-truncate {
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
        font-size: 0.7em  !important;
    }

    .text-truncate span {
        color: #999999 !important;
        font-size: 0.70em  !important;
        position: relative !important;
        top: -5px !important;
    }
}

.fa-user-circle {
    color: #bdbdbd !important;
}

i.fa-undo {
    font-size: 1em  !important;
    margin-right: 3px !important;
}

.btn-success:hover {
    color: #fff !important;
    background-color: #498821 !important;
    border-color: #498821 !important;
}

.btn-success {
    color: #d2d2d2 !important;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
}

.col-lg-9 h3 {
    font-size: 1.75rem !important;
    position: relative !important;
    right: 90px !important;
    top: 13px !important;
}

.col-lg-9 {
    left: 96px !important;
    top: -24px !important;
}

.btn-primary {
    color: #3a2f46 !important;
    background-color: #f1f1f1 !important;
    border-color: #d0d0d0 !important;
}

.btn-primary:hover {
    color: #fff !important;
    background-color: #3a2f46 !important;
    border-color: #2f2638 !important;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff !important;
    background-color: #3a2f46 !important;
    border-color: #2f2638 !important;
}

.btn-primary.focus, .btn-primary:focus {
    color: #fff !important;
    background-color: #3a2f46 !important;
    border-color: #2f2638 !important;
    box-shadow: 0 0 0 0.2rem rgba(105, 28, 130, 0.5) !important;
}

.pull-right .btn-sm {
    padding: 0.3rem 2rem !important;
    font-size: .875rem !important;
    line-height: 1.5 !important;
    border-radius: 5.2rem !important;
}

.pull-right {
    padding: 0px !important
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    background: #fafafa;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

i.fa {
    font-size: 2em;
}

.bg-light {
    background-color: #f1f1f1 !important;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
    height: 100%;
    width: 100%;
    background-color: #f1f1f1 !important;
}

#sidebar {
    min-width: 70px;
    max-width: 70px;
    background: #262626;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    /*border-bottom: 1px solid #47748b;*/
}

#sidebar ul li a {
    padding: 10px;
    text-align: center;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386d5;
    background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386d5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    overflow-x: hidden;
    overflow-y: auto;
}

#content-header {
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    width: 100%;
    padding: 20px;
    height: 30%;
    transition: all 0.3s;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

.i-list {
    margin: 0px !important;
    padding: 30px 15px;
    overflow: hidden;
    overflow-y: auto;
    background-color: #ffffff !important;
}
.i-list + div {
    margin-left: 0px !important;
}

.title {
    margin: 30px 15px;
    overflow-x: hidden;
    overflow-y: auto;
}

.btn.btn-active {
    background-color: #262626 !important;
    color: #fff;
}

.buttons {
    margin-bottom: 50px;
}

.buttons .btn {
    border-radius: 10px;
    padding: 0 20px;
}

.list:hover {
    background-color: #cccccc;
    cursor: pointer;
}

.list {
    padding: 10px 0px;
}

.list svg {
    /*background-color: #f1f1f1 !important;*/
    border-radius: 30px;
}

.list.active {
    background-color: #262626;
    color: #fff;
}

.list i.fa {
    padding: inherit;
}
.list .btn {
    opacity: 0;
}
.list:hover .btn {
    opacity: 1;
}
